    /* estilo para o menu suspenso */
    .dropdown {
        position: relative;
        display: inline-block;
        cursor: pointer; /* adiciona o estilo do cursor */
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        z-index: 1;
        
    }

    .dropdown:hover .dropdown-content {
        display: block;
        
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
       
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
        
    }


    

    /* estilo para o conteúdo dinâmico */
    #informacoes {
        margin-top: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        
    }

    #informacoes h2 {
        color: #333;
        font-size: 24px;
    }

    #informacoes p {
        color: #666;
        font-size: 16px;
        line-height: 1.5;
    }

    #informacoes img {
        max-width: 100%;
        height: auto;
        margin-top: 10px;
    }
